<header>
  <div class="flex flex-col md:flex-row justify-between items-center p-4 gap-4">
    <h1 class="text-2xl font-bold">Kanbanaza</h1>

    <div class="join flex items-center justify-between rounded-lg px-3 py-2 w-full md:w-auto">
      <input
        type="text"
        placeholder="Search..."
        class="input input-bordered join-item w-[350px] focus:outline-none"
        id="searchInput"
      />
      <button class="btn join-item" id="searchButton">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
</header>

<ul id="taskSuggestions" style="display: none;"></ul>

<script>
  import { taskListInstance } from '../lib/TaskList';
  const searchInput = document.getElementById('searchInput') as HTMLInputElement;
  const taskSuggestions = document.getElementById('taskSuggestions') as HTMLUListElement;

  function updateTaskList(query: string) {
    const filteredTasks = taskListInstance.getTasksByKeyword(query);
    if (filteredTasks.length > 0) {
      taskSuggestions.style.display = 'block';
    } else {
      taskSuggestions.style.display = 'none';
    }

    taskSuggestions.innerHTML = filteredTasks
      .map(
        (task: any) => `
        <li class="task-item">
          <h2>${task.title}</h2>
          <p>${task.description}</p>
        </li>
      `,
      )
      .join('');
  }

  function handleSearch() {
    const query = searchInput.value.trim();
    updateTaskList(query);
  }

  searchInput.addEventListener('input', handleSearch);
</script>
