<header class="flex flex-row justify-between">
  <h1 class="">Kanbanaza</h1>

  <div class="search-bar">
    <input type="text" placeholder="Search..." class="input" />
    <button class="btn btn-ghost btn-circle">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</header>
