---
import { statusList } from '../lib/TaskList';
import Column from './Column.astro';
---

<div class="p-8 font-sans">
  <div class="md:grid md:grid-cols-3 md:gap-6 flex gap-6 overflow-x-auto pb-4 snap-x">
    {
      statusList.map((status) => (
        <div class="min-w-[85vw] md:min-w-0 snap-center">
          <Column status={status} />
        </div>
      ))
    }
  </div>
</div>

<script>
  import { taskListInstance, statusList } from '../lib/TaskList';

  document.addEventListener('DOMContentLoaded', () => {
    const container = document.querySelector('#kanban-board');

    statusList.forEach((status) => {
      const taskList = taskListInstance.getTasksByStatus(status);
      const columnDiv = document.createElement('div');
      columnDiv.className = 'min-w-[85vw] md:min-w-0 snap-center';

      const columnContent = `
        <div class="column">
          <h2>${status}</h2>
          <ul>
            ${taskList
              .map(
                (task) => `
              <li>
                <h3>${task.title}</h3>
                <p>${task.description}</p>
              </li>
            `,
              )
              .join('')}
          </ul>
        </div>
      `;

      columnDiv.innerHTML = columnContent;
      container?.appendChild(columnDiv);
    });
  });
</script>
