---
import Column from "./Column.astro";

type status = { key: string; value: string };

const statusList: status[] = [
  { key: "todo", value: "To do" },
  { key: "in-progress", value: "In progress" },
  { key: "done", value: "Done" },
];

interface Task {
  id: number;
  title: string;
  description: string;
  status: status;
}

const todoTask: Task[] =[
  {
    id: 1,
    title: "OOP and TS - Final Project",
    description: "Create a simple Kanban board web app.",
    status: { key: "todo", value: "To do" },
  },
  {
    id: 2,
    title: "test",
    description: "test content",
    status: { key: "todo", value: "To do" },
  },
]

---

<div class="p-8 font-sans">
  <div
    class="md:grid md:grid-cols-3 md:gap-6 flex gap-6 overflow-x-auto pb-4 snap-x"
  >
    {
      statusList.map((status) => (
        <div class="min-w-[85vw] md:min-w-0 snap-center">
          <Column status={status} taskList={todoTask}/>
        </div>
      ))
    }
  </div>
</div>
