---
// TaskCard.astro
const { status } = Astro.props;
---

<div id={`column-${status.key}`} class="flex flex-col gap-4"></div>

<script>
  document.addEventListener('click', function (e: MouseEvent) {
    const dropdown = document.getElementById('dropdown');
    if (dropdown && !dropdown.contains(e.target as Node)) {
      dropdown.removeAttribute('open');
    }
  });
</script>
