---
import '@fortawesome/fontawesome-free/css/all.css';
import '../styles/global.css';

interface Props {
  title?: string;
}

const { title = 'Kanbanaza' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      [draggable='true'] {
        user-select: none;
        -webkit-user-drag: element;
      }

      .task-container {
        min-height: 100px;
        padding-bottom: 8px;
      }

      .task-menu {
        min-width: 120px;
      }

      .highlight {
        animation: highlight 2s ease-in-out;
      }

      @keyframes highlight {
        0% {
          box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
        }
        70% {
          box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
        }
        100% {
          box-shadow: none;
        }
      }
    </style>
  </head>
  <body class="min-h-screen bg-white">
    <slot />
  </body>
</html>
